<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Retro Mario Card Match</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Jura|Press+Start+2P" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="css/custom.css"></link>
    </head>
    <body>
        <div id="sound" class="d-flex justify-content-end">
            <i v-if="!allowSound" v-on:click="soundOn()" class="fas fa-volume-mute fa-3x text-dark bg-secondary" title="Click to enable sound"></i>
            <i v-else v-on:click="soundOff()" class="fas fa-volume-up fa-3x bg-white text-success" title="Click to disable sound"></i>
        </div>
        <div id="matchGame">
            <div class="container">
                <div class="header text-center bg-white p-3 mx-auto rounded text-box">
                    <h4 class="text-dark font-weight-bold">Mario Bros Card Match</h4>
                </div>

                <div class="row m-0">    
                    <!-- GAME AREA -->
                    <div class="ml-0 mx-auto rounded game-area">
                        <div class="col-5 mt-3 mx-auto" style="height:54px;">
                            <div v-show="win" class="text-box rounded">
                                <h5 class="p-2 text-center">You Win!</h5>
                            </div>
                            <div v-show="gameOver" class="text-box rounded">
                                <h5 class="p-2 text-center">Game Over</h5>
                            </div>
                        </div>
                        
                        <ul v-if="started" class="d-flex flex-wrap justify-content-between" style="min-width:inherit;">
                            <li class="mb-3 ml-2" v-for="(card, index) in cards" v-on:click="runGameSequence(index)">
                                <span v-if="!card.flipped"><img class="card" v-bind:src="cards[index].front" style="cursor:pointer" /></span>
                                <span v-else><img class="card" v-bind:src="cards[index].back" style="cursor:pointer" /></span>
                            </li>
                        </ul>
                        
                        <div v-show="win || gameOver" v-on:click="start" class="col-3 mx-auto pl-3 pr-3 bg-white rounded-lg text-box" style="margin-top: 80px; cursor:pointer;">
                            <p class="text-dark font-weight-bold pt-3">New Game</p>
                        </div> 
                   </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="js/audio.js"></script>
    <script src="js/data.js"></script>
    <script src="js/sound.js"></script>
    <script src="js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
